#content{
 display: grid;
 max-width: 960px;
 grid-template-columns: repeat(3, 1fr);
 grid-auto-rows: minmax(70px, auto);
 border-bottom: 3px solid blue;
 background-color: #00A5CF;
}
.column{
 padding: 20px;
}