@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

$header-background: #9FFFCB;
$header-accent: #7AE582;
$body-background:#25A18E;
$body-accent: #00A5CF;
$background-accent: #004E64;
$hover-accent:#012029;

.App{
 background-color:$body-background;
 font-family: 'Saira Stencil One', cursive;
}
.link-text{
 list-style: none;
 list-style-type: none;
 outline: none;
 color: $background-accent;
 text-decoration: none;
 border: none;
 :hover{
  color: $hover-accent;
 }
 a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
}


/* mobile styles */

/* small tablet styles */
@media screen and(min-width: 620px) {
 
}

/* large tablets & laptops styles */
@media screen and(min-width: 960px) {
 
}

/* desktop styles */
@media screen and(min-width: 1200px) {
 
}