/* reset styles */
@import './reset.scss';
@import './Header';
@import './HomePage';
@import './Country';
@import './SlotMachine';

/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

/* variables */
$primary: #F1F2F6;
$secondary: #FF8600;
$header-accent: #27187E;
$text:#27187E;
$body-accent: #AEB8FE;
$hover-accent:#758BFD;

/* base styles */
*{
  background-color: $primary;
  margin: 5px;
  padding: 5px;
    list-style: none;
    list-style-type: none;
    outline: none;
    color: $header-accent;
    text-decoration: none;
    border: none;
    margin-top: 5px;
    padding: 2px;
    
    :hover{
     color: $hover-accent;
    }
    a:active, a:focus {
     outline: 0;
     border: none;
     -moz-outline-style: none;
   }
}
.App{
 
 background-color: $primary;
 font-family: 'Saira Stencil One', cursive;
}


/* mobile styles */

/* small tablet styles */
@media screen and(min-width: 620px) {
 
}

/* large tablets & laptops styles */
@media screen and(min-width: 960px) {
 
}

/* desktop styles */
@media screen and(min-width: 1200px) {
 
}